<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="order">
                    <i class="bi-gift-fill"></i>
                    <h1 class="text-center text-success">You Order has been placed Successfully </h1>
                    <a href="/orders" class="btn btn-primary">View Orders</a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .order {
        margin-top: 18%;
    }

    .bi-gift-fill {
        font-size: 54px;
        color: palevioletred;
    }

    .btn {
        border-radius: 10px;
        margin-top: 7px;
    }
</style>