<footer>
    <nav>
        <div class="wrapper">
            <div class="title"><br>
                <h1>Shop With E-Shoppy</h1>
                <p>Get your things online faster and easier....</p> <br>
            </div>

            <div class="contact">
                <h4>Contact us</h4>
                <p>Trending Technologies Private Limited,
                    CIN:F7499K83485H7837J8399
                    069-937BK-03-12(234 RW) <br>
                    shivangana Styles,
                    No.55/78,Bengaluru-479347<br>
                    E-mail address: query@eshoppy.in
                </p>

                <div class="privacy-policy">
                    <br>
                    <h5>Alredy a customer? Sign in</h5>
                    <p>Condition of Use</a>
                    <p>Privacy Notice</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
        </div>
    </nav>
</footer>

<style>
    footer {
        background-color: #bca3d6;
        position: relative;
        height: 23vh;
        margin-top: 3rem;
    }

    .title {
        text-align: center;
        margin-top: 50px;
    }

    .contact {
        text-align: center;
        height: 340px;
    }

    .privacy-policy {
        text-align: center;
        height: 220px;
        font-size: 20px;
    }

    .privacy-policy h5 {
        font-size: 28px;
        font-weight: 600;
    }

    .title {
        font-size: 18px;
    }

    .title h4 {
        font-weight: bold;
    }

    .title p {
        font-size: 19px;
    }

    .contact {
        font-size: 17px;
    }
</style>